# Build/Package Files #
#######################
build/
*.egg-info/
dist/

# Docs builds files #
#####################
docs/_build/

# Virtualenvs #
###############
env/
Pipfile
Pipfile.lock
pyproject.toml
